# CMake stuff
*CMakeCache.txt
CMakeFiles/
*cmake_install.cmake
.metadata/
RemoteSystemsTempFiles/
cdogs-sdl.dir/
CPack*
_CPack_Packages/
CMakeScripts/
CTestTestfile.cmake

# Visual Studio
Debug/
Release/
Win32/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.dll
*.vcxproj
*.vcxproj.filters
*.sln

# Xcode
*.xcodeproj/

# Other
*.a
Makefile
